In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
import matplotlib

In [3]:
df1=pd.read_csv('Chennai-replica.csv')
df1

,Price,Area,Location,No_of_Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator,Area_type
0,5500000,1310,Perungalathur,3 BHK,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Built-up
1,5350000,1126,Madhavaram,2 Bedroom,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,Plot
2,8205000,1307,Karapakkam,3 BHK,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,Carpet
3,23400000,3600,Thiruvidandhai,3 BHK,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,Carpet
4,10100000,1700,Iyappanthangal,3 BHK,0,0,1,1,1,1,...,0,1,0,0,0,0,0,0,0,Super built-up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,7834999,1599,Korattur,3 BHK,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,Plot
5010,2408000,740,Ambattur,2 Bedroom,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,Super built-up
5011,5500000,1700,Pallikaranai VGP Shanti Nagar,3 BHK,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,Super built-up
5012,3400000,1599,Korattur,3 BHK,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,Built-up
5013,4500000,688,Selaiyur,2 Bedroom,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,Built-up

In [4]:
df1.head()

,Price,Area,Location,No_of_Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator,Area_type
0,5500000,1310,Perungalathur,3 BHK,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Built-up
1,5350000,1126,Madhavaram,2 Bedroom,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,Plot
2,8205000,1307,Karapakkam,3 BHK,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,Carpet
3,23400000,3600,Thiruvidandhai,3 BHK,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,Carpet
4,10100000,1700,Iyappanthangal,3 BHK,0,0,1,1,1,1,...,0,1,0,0,0,0,0,0,0,Super built-up

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5014 entries, 0 to 5013
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                5014 non-null   int64
 1   Area                 5014 non-null   object
 2   Location             5014 non-null   object
 3   No_of_Bedrooms       5014 non-null   object
 4   Resale               5014 non-null   int64
 5   MaintenanceStaff     5014 non-null   int64
 6   Gymnasium            5014 non-null   int64
 7   SwimmingPool         5014 non-null   int64
 8   LandscapedGardens    5014 non-null   int64
 9   JoggingTrack         5014 non-null   int64
 10  RainWaterHarvesting  5014 non-null   int64
 11  IndoorGames          5014 non-null   int64
 12  ShoppingMall         5014 non-null   int64
 13  Intercom             5014 non-null   int64
 14  SportsFacility       5014 non-null   int64
 15  ATM                  5014 non-null   int64
 16  ClubHouse            5014 non-null   int64
 17  School               5014 non-null   int64
 18  24X7Security         5014 non-null   int64
 19  PowerBackup          5014 non-null   int64
 20  CarParking           5014 non-null   int64
 21  StaffQuarter         5014 non-null   int64
 22  Cafeteria            5014 non-null   int64
 23  MultipurposeRoom     5014 non-null   int64
 24  Hospital             5014 non-null   int64
 25  WashingMachine       5014 non-null   int64
 26  Gasconnection        5014 non-null   int64
 27  AC                   5014 non-null   int64
 28  Wifi                 5014 non-null   int64
 29  Children'splayarea   5014 non-null   int64
 30  LiftAvailable        5014 non-null   int64
 31  BED                  5014 non-null   int64
 32  VaastuCompliant      5014 non-null   int64
 33  Microwave            5014 non-null   int64
 34  GolfCourse           5014 non-null   int64
 35  TV                   5014 non-null   int64
 36  DiningTable          5014 non-null   int64
 37  Sofa                 5014 non-null   int64
 38  Wardrobe             5014 non-null   int64
 39  Refrigerator         5014 non-null   int64
 40  Area_type            5014 non-null   object
dtypes: int64(37), object(4)
memory usage: 1.6+ MB

In [6]:
df1.shape

(5014, 41)

In [7]:
df1['Location'].unique()

array(['Perungalathur', 'Madhavaram', 'Karapakkam', 'Thiruvidandhai',
       'Iyappanthangal', 'Mevalurkuppam', 'Kolapakkam', 'Kundrathur',
       'Pammal', 'Puzhal', 'Selaiyur', 'Thoraipakkam OMR', 'Anna Nagar',
       'Mogappair', 'Sholinganallur', 'Medavakkam', 'Avadi',
       'Tiruvottiyur', 'Manapakkam', 'Madipakkam', 'Thiruvanmiyur',
       'Ramapuram', 'Saidapet', 'Poonamallee', 'Pallavaram',
       'Maraimalai Nagar', 'Madambakkam', 'Perungudi', 'Villivakkam',
       'Adyar', 'Navallur', 'Moolacheri', 'Chromepet', 'Nandambakkam',
       'Kelambakkam', 'Vadapalani', 'Kumananchavadi', 'Porur',
       'Periyapanicheri', 'Manikandan Nagar', 'Kodambakkam', 'Velachery',
       'East Tambaram', 'Gopalapuram', 'Sunnambu Kolathur S Kolathur',
       'Perumbakkam', 'Cholambedu', 'Urapakkam', 'Raja Annamalai Puram',
       'Besant Nagar', 'Peerakankaranai', 'Nanmangalam', 'Jamalia',
       'Guduvancheri', 'Sembakkam', 'Adambakkam', 'Nungambakkam',
       'T Nagar', 'K K Nagar', 'Ambattur', 'Valasaravakkam',
       'Kanathur Reddikuppam', 'Mugalivakkam', 'Purasaiwakkam',
       'Maduravoyal', 'Gowrivakkam', 'Mudichur', 'West Tambaram',
       'Alwarpet', 'Annanagar West', 'Thiruverkadu', 'tambaram west',
       'Guindy', 'Korattur', 'Tambaram Sanatoruim', 'Irumbuliyur',
       'Kolathur', 'Thirumullaivoyal', 'Singaperumal Koil', 'Ayapakkam',
       'Perambur', 'Chetpet', 'Kilpauk', 'Egmore', 'Alandur', 'Kovur',
       'Vandalur', 'Pozhichalur', 'Vanagaram', 'Thoraipakkam',
       'Ullagaram', 'Kovilambakkam', 'Kattupakkam', 'Thirumazhisai',
       'Kattankulathur', 'Ayanambakkam', 'Sithalapakkam', 'Vengaivasal',
       'Kilkattalai', 'Annanagar', 'Chengalpattu', 'Pallikaranai',
       'Rajakilpakkam', 'Chitlapakkam', 'Palavakkam', 'Kotturpuram',
       'Nenmeli', 'Ramavaram', 'Padi', 'NehruNagar', 'Pazavanthangal',
       'Thatchoor', 'Padur', 'Iyyappanthangal', 'Mambakkam', 'Egatoor',
       'Semmancheri', 'Virugambakkam', 'Moolakadai', 'Siruseri',
       'Velappanchavadi', 'Ekkatuthangal', 'Royapettah', 'Nandanam',
       'Vellakkal', 'Annamalai Colony', 'Thalambur', 'Nanganallur',
       'Chembarambakkam', 'Teynampet', 'Mannivakkam', 'Thaiyur',
       'Injambakkam', 'Aminjikarai', 'CIT Nagar', 'Koyambedu',
       'Kil Ayanambakkam', 'Choolaimedu', 'Thirumudivakkam',
       'Kottivakkam', 'Ponneri', 'Mahindra World City', 'Purasawalkam',
       'Anakaputhur', 'TNHB', 'Manali', 'Mogappair East',
       'Bakthavatchalapuram', 'Chikkarayapuram', 'Triplicane',
       'Tiruporur Near Kelambakkam', 'Agaramthen', 'Vengambakkam',
       'Keelma Nagar', 'Gerugambakkam', 'Ottiyambakkam', 'Vettuvankani',
       'Ponniammanmedu', 'Ambattur INDUSTRIAL ESTATE', 'Royapuram',
       'Shanthi Nagar', 'Serapanacheri', 'Kuthambakkam',
       'Anna Nagar East', 'Pudupakkam', 'Thiruneermalai', 'Mangadu',
       'Arumbakkam', 'Irandankattalai', 'West Mambalam', 'Tondiarpet',
       'Ayanavaram', 'Mappedu', 'Abiramapuram', 'Mylapore',
       'Shenoy Nagar', 'Ashok Nagar', 'Tharapakkam', 'OMR Road',
       'GST Road', '200 Feet Radial Road', 'Adhanur', 'Egattur',
       'tambaram east', 'Pallikaranai VGP Shanti Nagar'], dtype=object)

In [1]:
df1.groupby("Location")["Location"].agg("count")

NameError: name 'df1' is not defined

In [ ]:
import random
data=[]
random.seed(5000)
#ran=["Super built-up","Built-up","Plot","Carpet"]
for i in range(5013):
    data1=random.choice(ran)
    data.append(data1)

print("Area_type Random",data)

NameError: name 'ran' is not defined

In [ ]:
dataframe=pd.DataFrame()
dataframe["Area_type"]=data[:]
print(dataframe)

Empty DataFrame
Columns: [Area_type]
Index: []

In [ ]:
dataframe.to_csv('result.csv', index = False)

In [ ]:
#dataframe.to_csv('chennai-replica.csv', mode='a', header=True,index=False)

In [ ]:
df1.Area.unique()

array(['1310', '1126', '1307', ..., '705', '577', '688'], dtype=object)

In [ ]:
df1['Area'] = df1['Area'].replace(['850'],'750-950')

In [ ]:
print(df1.Area)

0       1310
1       1126
2       1307
3       3600
4       1700
        ...
5009    1599
5010     740
5011    1700
5012    1599
5013     688
Name: Area, Length: 5014, dtype: object

In [16]:
df1['Area'] = df1['Area'].replace(["-200"],"1210-1410")
df1

,Price,Area,Location,No_of_Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator,Area_type
0,5500000,1310,Perungalathur,3 BHK,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Built-up
1,5350000,1126,Madhavaram,2 Bedroom,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,Plot
2,8205000,1307,Karapakkam,3 BHK,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,Carpet
3,23400000,3600,Thiruvidandhai,3 BHK,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,Carpet
4,10100000,1700,Iyappanthangal,3 BHK,0,0,1,1,1,1,...,0,1,0,0,0,0,0,0,0,Super built-up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,7834999,1599,Korattur,3 BHK,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,Plot
5010,2408000,740,Ambattur,2 Bedroom,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,Super built-up
5011,5500000,1700,Pallikaranai VGP Shanti Nagar,3 BHK,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,Super built-up
5012,3400000,1599,Korattur,3 BHK,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,Built-up
5013,4500000,688,Selaiyur,2 Bedroom,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,Built-up

In [17]:
print(df1)

         Price  Area                       Location No_of_Bedrooms  Resale  \
0      5500000  1310                  Perungalathur          3 BHK       0
1      5350000  1126                     Madhavaram      2 Bedroom       0
2      8205000  1307                     Karapakkam          3 BHK       0
3     23400000  3600                 Thiruvidandhai          3 BHK       0
4     10100000  1700                 Iyappanthangal          3 BHK       0
...        ...   ...                            ...            ...     ...
5009   7834999  1599                       Korattur          3 BHK       0
5010   2408000   740                       Ambattur      2 Bedroom       0
5011   5500000  1700  Pallikaranai VGP Shanti Nagar          3 BHK       0
5012   3400000  1599                       Korattur          3 BHK       0
5013   4500000   688                       Selaiyur      2 Bedroom       0

      MaintenanceStaff  Gymnasium  SwimmingPool  LandscapedGardens  \
0                    0          0             0                  0
1                    0          1             1                  1
2                    0          1             1                  1
3                    0          1             1                  0
4                    0          1             1                  1
...                ...        ...           ...                ...
5009                 9          9             9                  9
5010                 9          9             9                  9
5011                 9          9             9                  9
5012                 9          9             9                  9
5013                 9          9             9                  9

      JoggingTrack  ...  BED  VaastuCompliant  Microwave  GolfCourse  TV  \
0                0  ...    0                0          0           0   0
1                0  ...    0                0          0           0   0
2                1  ...    0                0          0           0   0
3                1  ...    0                0          0           0   0
4                1  ...    0                1          0           0   0
...            ...  ...  ...              ...        ...         ...  ..
5009             9  ...    9                9          9           9   9
5010             9  ...    9                9          9           9   9
5011             9  ...    9                9          9           9   9
5012             9  ...    9                9          9           9   9
5013             9  ...    9                9          9           9   9

      DiningTable  Sofa  Wardrobe  Refrigerator       Area_type
0               0     0         0             0        Built-up
1               0     0         0             0            Plot
2               0     0         0             0          Carpet
3               0     0         0             0          Carpet
4               0     0         0             0  Super built-up
...           ...   ...       ...           ...             ...
5009            9     9         9             9            Plot
5010            9     9         9             9  Super built-up
5011            9     9         9             9  Super built-up
5012            9     9         9             9        Built-up
5013            9     9         9             9        Built-up

[5014 rows x 41 columns]

In [18]:
df1.Location = df1.Location.apply(lambda x: x.strip())
location_stats = df1['Location'].value_counts(ascending=False)
location_stats

Medavakkam         230
Ambattur           195
Sholinganallur     177
Karapakkam         161
Iyappanthangal     158
                  ...
Chikkarayapuram      1
GST Road             1
Nandanam             1
Keelma Nagar         1
Thiruneermalai       1
Name: Location, Length: 185, dtype: int64

The total number of houses in the location.

In [19]:
location_stats.values.sum()

5014

If the location has less houses then 10 than we can not get the currect predection on the bases of the location.

In [20]:
len(location_stats[location_stats>10])

86

In [21]:
len(location_stats)

185

So there are 86 places which has less than 10 number of houses in that location and below we have the lists if houses which can we say it as dimension redection.

In [22]:
locationless10 = location_stats[location_stats<=10]
locationless10

Thaiyur            10
Periyapanicheri    10
Vanagaram          10
Siruseri            9
Jamalia             9
                   ..
Chikkarayapuram     1
GST Road            1
Nandanam            1
Keelma Nagar        1
Thiruneermalai      1
Name: Location, Length: 99, dtype: int64

In [23]:
len(df1.Location.unique())

185

So we decided to change the location name to "others" which is has less than 10 number of houses

In [24]:
df1.Location = df1.Location.apply(lambda x: 'other' if x in locationless10 else x)
df1.Location

0        Perungalathur
1           Madhavaram
2           Karapakkam
3                other
4       Iyappanthangal
             ...
5009          Korattur
5010          Ambattur
5011             other
5012          Korattur
5013          Selaiyur
Name: Location, Length: 5014, dtype: object

In [25]:
len(df1.Location.unique())

87

In [26]:
df1.head(250)

,Price,Area,Location,No_of_Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator,Area_type
0,5500000,1310,Perungalathur,3 BHK,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Built-up
1,5350000,1126,Madhavaram,2 Bedroom,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,Plot
2,8205000,1307,Karapakkam,3 BHK,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,Carpet
3,23400000,3600,other,3 BHK,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,Carpet
4,10100000,1700,Iyappanthangal,3 BHK,0,0,1,1,1,1,...,0,1,0,0,0,0,0,0,0,Super built-up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,4077000,906,Mugalivakkam,2 Bedroom,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,Carpet
246,4441000,987,Mugalivakkam,2 Bedroom,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,Carpet
247,4468000,993,Mugalivakkam,2 Bedroom,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,Carpet
248,4171000,927,Mugalivakkam,2 Bedroom,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,Carpet
249,4239000,942,Mugalivakkam,2 Bedroom,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,Plot

In [27]:
df1["Location"].value_counts()

other                  342
Medavakkam             230
Ambattur               195
Sholinganallur         177
Karapakkam             161
                      ...
Ayapakkam               12
Gowrivakkam             12
Peerakankaranai         12
Tambaram Sanatoruim     12
Kotturpuram             11
Name: Location, Length: 87, dtype: int64

In [28]:
df1.Location = df1.Location.apply(lambda x: x.strip())
location2 = df1['Location'].value_counts(ascending=False)
location2

other                  342
Medavakkam             230
Ambattur               195
Sholinganallur         177
Karapakkam             161
                      ...
Ayapakkam               12
Gowrivakkam             12
Peerakankaranai         12
Tambaram Sanatoruim     12
Kotturpuram             11
Name: Location, Length: 87, dtype: int64

In [31]:
df1[df1.Area/df1.No_of_Bedrooms<300].head()

TypeError: unsupported operand type(s) for /: 'str' and 'str'